{% extends 'clients/auth/auth-base.html' %}
{% load static %}

{% block title %}Forget Password{% endblock %}
{% block side_image %}
<div class="col-lg-8">
    <div class="row"> <img src="{% static 'images/medsta/forgot-password-interface.jpg' %}" class="logo"> </div>
</div>
{% endblock %}

{% block content %}
    <form action="/auth/forget-password/" method="post" style="margin-top: 200px;" class="col-lg-4">
    {% csrf_token %}
        <div class="card2 card border-0 px-4 py-5">
            <div class="row px-3"> <label class="mb-1">
                    <h6 class="mb-0 text-sm">Email Address</h6>
                </label> <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address"> </div>
            <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Send code</button> </div>
        </div>
</form>
{% endblock %}