{% extends 'clients/auth/auth-base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block side_image %}
    <div class="col-lg-10">
        <div class="row">
            <img src="{% static 'images/medsta/auth-interface.jpg' %}" class="logo">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-4">
        <div class="card2 card border-0 px-4 py-5">
            <div class="row mb-4 px-3">
                <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                
                <div class="facebook text-center mr-3">
                    <div class="fa fa-facebook"></div>
                </div>
                <div class="twitter text-center mr-3">
                    <div class="fa fa-twitter"></div>
                </div>
                <div class="google text-center mr-3">
                    <div class="fa fa-google"></div>
                </div>
            </div>
            <div class="row px-3 mb-4">
                <div class="line"></div>
                <small class="or text-center">Or</small>
                <div class="line"></div>
            </div>
            <form action="/auth/login/" method="POST">
                {% csrf_token %}
                <div class="row px-3">
                    <label class="mb-1">
                        <h6 class="mb-0 text-sm">Email Address</h6>
                    </label>
                    <input required="required" class="mb-4" type="text" name="email" placeholder="Enter a valid email address">
                </div>
                <div class="row px-3"> <label class="mb-1">
                        <h6 class="mb-0 text-sm">Password</h6>
                    </label> <input required="required" type="password" name="password" placeholder="Enter password"></div>
                <div class="row px-3 mb-4">
                    <div class="custom-control custom-checkbox custom-control-inline">
                    </div> <a href="/auth/forget-password/" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                </div>
                <div class="row mb-3 px-3 rounded"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
            </form>
            <div class="row mb-4 px-3"> 
                <small class="font-weight-bold">Don't have an account? 
                    <a href="/auth/registration/" class="text-danger">Register</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}
