{% extends 'clients/auth/auth-base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}
{% block side_image %}
<div class="col-lg-8">
    <div class="row"> <img src="{% static 'images/medsta/forgot-password-interface.jpg' %}" class="logo"> </div>
</div>
{% endblock %}

{% block content %}
<div style="margin-top: 200px;" class="col-lg-4">
    <form action="/auth/reset-password/" method="post">
    {% csrf_token %}
    <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">New Password</h6>
            </label> <input class="mb-4" type="password" name="password" placeholder="Enter New password">
    </div>

    <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Confirm Password</h6>
            </label> <input type="password" name="confirm_password" placeholder="Repeat password">
    </div>
    <div class="row mb-3 px-3">
        <input type="hidden" name="email" value="{{ email }}">
        <button type="submit" class="btn btn-blue text-center">Reset Password</button>
    </div>

</div>
{% endblock %}
